{% extends 'base.html' %}

{% load custom_tags %}

{% block content %}

<div class="container text-start text-truncate">

    {% if user.is_authenticated %}

        {% for rotation in rotations %}
        
        {% if rotation.R_FTND %}

            <div class="row mt-3">
    <!-- MAIN INFO -->
                <div class="col-12 col-sm-3 col-lg-2 pe-1 mt-2">

                    <div class="card px-0 pb-1 
                        {% if rotation.R_AOG %}info-AOG
                        {% else %}info-def
                        {% endif %}
                    ">

                        <h1 class="m-0 mt-1 ps-3">{{ rotation.R_STAND }}</h1>
                        <h5 class="m-0 ps-3">{{ rotation.R_ACREG }}</h5>
                    </div>
                </div>
    <!-- ARRIVAL -->
                <div class="col-12 col-sm-9 col-lg-3 pe-1 mt-2">

                    {% if rotation.R_FTNA != None %}

                        <div class="card px-0 pb-1">

                            <div class="row">
                                <div class="col-5">
                                    <h1 class="m-0 mt-1 ps-3">{{ rotation.R_APTA }}</h1>
                                    <h5 class="m-0 ps-3">{{ rotation.R_FTNA }}</h5>
                                </div>
                                <div class="col-6">
                                    <h5 class="m-0 ps-2 mt-3"><small class="text-body-secondary" style="font-size: small;">STA | </small>{{ rotation.R_STA|date:"H:i" }}</h5>
                                    <h5 class="m-0 ps-2 mt-1"><small class="text-body-secondary" style="font-size: small;">ETA | </small>{{ rotation.R_ETA|date:"H:i" }}</h5>
                                </div>
                            </div>
                                
                        </div>

                    {% endif %}

                </div>
    <!-- DEPARTURE -->
                <div class="col-12 col-sm-12 col-lg-7 ms-auto pe-1 mt-2">

                        <div class="card px-0 pb-1
                            {% if rotation.R_FTND.D_BAGSN %}stat-open b-ready
                            {% endif %}
                            {% if rotation.R_FTND.D_SENT %}stat-closed b-sent
                            {% endif %}
                        ">


                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    {% if user|Active_User %}
                                        <a data-bs-toggle="offcanvas" href="#dep_{{ rotation.R_FTND }}" role="button" style="text-decoration: none; color: whitesmoke;">
                                            <h1 class="m-0 mt-1 ps-3">{{ rotation.R_APTD }}</h1>
                                        </a>
                                    {% else %}
                                        <h1 class="m-0 mt-1 ps-3">{{ rotation.R_APTD }}</h1>
                                    {% endif %}
                                    <h5 class="m-0 ps-3">{{ rotation.R_FTND }}</h5>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <h4 class="m-0 ps-3 mt-3"><small class="text-body-secondary" style="font-size: small;">STD | </small>{{ rotation.R_STD|date:"H:i" }}</h4>
                                    {% if rotation.R_FTND.D_DRVR1 %}
                                        <h6 class="m-0 ps-3 mt-2"><small class="text-body-secondary" style="font-size: small;">Driver | </small>{{ rotation.R_FTND.D_DRVR1 }}</h6>
                                    {% else %}
                                        <h6 class="m-0 ps-3 mt-2"><small class="text-body-secondary" style="font-size: small;">Driver | </small></h6>
                                    {% endif %}
                                </div>
                                <div class="col-5 col-sm-3">
                                    <h4 class="m-0 ps-3 mt-3"><small class="text-body-secondary" style="font-size: small;">ETD | </small>{{ rotation.R_ETD|date:"H:i" }}</h4>
                                    <h6 class="m-0 ps-3 mt-2"><small class="text-body-secondary" style="font-size: small;">Bags | </small>{{ rotation.R_FTND.D_BAGSN }}</h6>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <h4 class="m-0 ps-3 mt-3"><small class="text-body-secondary" style="font-size: small;">Zone | </small>{{ rotation.R_FTND.D_ZONE }}</h4>
                                </div>
                            </div>
                        </div>


                </div>

            </div>

            <!-- DEPARTURE OFF-CANVAS -->

            <div class="offcanvas offcanvas-start" tabindex="-1" id="dep_{{ rotation.R_FTND }}" aria-labelledby="offcanvasExampleLabel">
                
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title" id="offcanvasExampleLabel">{{ rotation.R_FTND }} | {{ rotation.R_APTD }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body justify-content-between align-items-center">

                    {% if user|Active_User %}

                        <form method="POST" action="{% url 'Sent_Update' rotation.R_FTND %}">
                            {% csrf_token %}
                            <div class="d-grid gap-2 mt-1">
                                {% if not rotation.R_FTND.D_SENT %}
                                    <input type="hidden" name="sent" value="True">
                                    <button type="submit" class="btn btn-success sendButton mt-3">
                                        <small class="text-body-primary" style="font-size: small;">SEND</small>
                                    </button>
                                {% else %}
                                    <input type="hidden" name="sent" value="False">
                                    <button type="submit" class="btn btn-secondary closedButton mt-3">
                                        <small class="text-body-secondary" style="font-size: small;">RESUME</small>
                                    </button>
                                {% endif %}
                            </div>
                        </form>

                        <div class="row mt-4">   
                            <div class="col-12">
                                <div class="card text-start align-items-center" style="height: fit-content;">

                                    <form method="POST" action="{% url 'Bags_Update' rotation.R_FTND %}">
                                    {% csrf_token %}

                                        <div class="col-12">
                                            <h5 class="text-center"><small class="text-body-secondary p-1" style="font-size: small;">Bags Number</small></h5>
                                            <input type="text" class="form-control" name="bags_nbr" placeholder=" {{ rotation.R_FTND.D_BAGSN }} ">

                                            <h5 class="text-center"><small class="text-body-secondary" style="font-size: small;">Zone</small></h5>
                                            <select class="form-select" name="zone" aria-label="Default select example">
                                                <option selected>{{ rotation.R_FTND.D_ZONE }}</option>
                                                <option value="1">1</option>
                                                <option value="2N">2N</option>
                                                <option value="2S">2S</option>
                                                <option value="3">3</option>
                                                <option value="5">5</option>
                                                <option value="6N">6N</option>
                                                <option value="6S">6S</option>
                                                <option value="7N">7N</option>
                                                <option value="7S">7S</option>
                                            </select>
                                        </div>

                                        <div class="d-grid gap-2 mb-3">
                                            <button type="submit" class="btn btn-dark mt-3" style="border-color: rgb(80, 80, 80);">
                                                <small class="text-body-primary" style="font-size: small;">UPDATE</small>
                                            </button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="mt-3">

                            <form method="POST" action="{% url 'Driver_Update' rotation.R_FTND %}">
                                {% csrf_token %}
                                <input type="hidden" name="rotation_type" value="D">
                                <input type="hidden" name="from" value="bhs">

                                <h5 class="text-center"><small class="text-body-secondary" style="font-size: small;">Driver Assignment</small></h5>

                                <div class="row">
                                
                                    <div class="col-9 pe-0">
                                        <select class="form-select py-1" name="sel_driver" aria-label="Default select example">
                                            <option selected>{{ rotation.R_FTND.D_DRVR1 }}</option>
                                            {% for driver in drivers %}
                                                <option value="{{ driver.DR_NAME }}">{{ driver.DR_NAME }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-3 ps-0 text-end">
                                        <button type="submit" class="btn btn-dark py-1 px-3" style="border-color: rgb(80, 80, 80);">
                                            <small class="text-body-primary" style="font-size: small;">APPLY</small>
                                        </button>
                                    </div>
                                
                                </div>
                            </form>

                        </div>

                    {% endif %}

                </div>
            </div>

            {% endif %}

        {% endfor %}

    {% else %}

    {% include 'login.html' %}

    {% endif %}

</div>


{% endblock %}