{% extends 'base.html' %}

{% load custom_tags %}

{% if user|Host_User %}

{% block content %}

    <div class="container">

        <div class="card align-items-center my-4" style="height: fit-content;">

            <p class="text-body-secondary mt-4" style="font-size: 1.2rem;">SETTINGS</p>

            <form method="POST" action="{% url 'Edit_Settings' %}" style="width: 70%;">
                {% csrf_token %}

                <p class="text-body-secondary mb-1" style="font-size: 0.8rem;">STATUS_CODE</p>
                <input  class="form-control mb-3" type="text" placeholder="{{ status }}" disabled>

                <p class="text-body-secondary mb-1" style="font-size: 0.8rem;">MAIN URL</p>
                <input type="text" class="form-control mb-3" name="url" value="{{ URL }}" placeholder="{{ URL }}">

                <p class="text-body-secondary mb-1" style="font-size: 0.8rem;">REFRESH RATE (s.)</p>
                <input type="text" class="form-control mb-3" name="ref_rate" value="{{ refresh_rate }}" placeholder="{{ refresh_rate }}">

                <button type="submit" class="btn btn-secondary mb-4">
                    <h4 class="mb-0" style="font-size: 0.8rem;">APPLY</h4>
                </button>

            </form>

        </div>

    </div>

{% endblock %}

{% endif %}