{% load custom_tags %}

<nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between align-items-center navLayout">
        

        <div class="navbar-nav">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#views" role="button">
                <i class="bi bi-list-nested navIcons"></i><br>
            </a>
        </div>


        <div class="navbar-nav">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#archive" role="button">
                <i class="bi bi-archive-fill navIcons"></i>
                {% if hidden_count %}
                    <span class="top-0 start-100 translate-middle badge rounded-pill bg-dark">{{ hidden_count }}</span>
                {% endif %}
            </a>
        </div>


        <div class="navbar-nav">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#tools" role="button">
                <i class="bi bi-tools navIcons"></i>
            </a>
        </div>


        <div class="navbar-nav">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#user" role="button">
                <i class="bi bi-person-circle navIcons"></i>
            </a>
        </div>


    </div>

</nav>

<!-- VIEWS OFF CANVAS -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="views" aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Select a View.</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body justify-content-between align-items-center">
        <div class="row">

            <div class="col-12">
                <div class="card text-center mb-3 menuCard">
                    <a href="{% url 'Ramp_View' %}" style="text-decoration: none; color: whitesmoke;">
                        <h3>Ramp View</h3>
                        <small class="text-body-secondary" style="font-size: small;">Rotations Layout.</small>
                    </a>
                </div>
            </div>
            
            <div class="col-12">
                <div class="card text-center mb-3 menuCard">
                    <a href="{% url 'BHS_View' %}" style="text-decoration: none; color: whitesmoke;">
                        <h3>BHS View</h3>
                        <small class="text-body-secondary" style="font-size: small;">Departures Focused Layout.</small>
                    </a>
                </div>
            </div>

            {% if user|Host_User %}
            <div class="col-12">
                <div class="card text-center mb-3 menuCard">
                    <a href="{% url 'Host_View' %}" style="text-decoration: none; color: whitesmoke;">
                        <h3>Host View</h3>
                        <small class="text-body-secondary" style="font-size: small;">Session Host Dedicated View.</small>
                    </a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

</div>

<!-- ARCHIVE OFF CANVAS -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="archive" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Hidden Flights</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Flight Nbr.</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for h in hidden %}
                    <tr>
                        <td>{{ h.H_FTND }}</td>
                        <td>
                            {% if h.H_NOTE %}
                                <small class="text-body-secondary" style="font-size: small;">{{ h.H_NOTE }}</small>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'Show' h.H_FTND %}" style="text-decoration: none; color: whitesmoke;"><h4 class="m-0 p-0"><i class="bi bi-eye" style="font-size: 1rem;"></i></h4></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>


<!-- TOOLS OFF CANVAS -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="tools" aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Select an option.</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body justify-content-between align-items-center">
        <div class="row">

            <div class="col-12">
                <div class="card text-center mb-3 menuCard">
                    <a href="{% url 'Manage' %}" style="text-decoration: none; color: whitesmoke;">
                        <h3><i class="bi bi-people"></i></h3>
                        <small class="text-body-secondary" style="font-size: small;">Manage Resources</small>
                    </a>
                </div>
            </div>

            {% if user|Host_User %}
            <div class="col-12">
                <div class="card text-center mb-3 menuCard">
                    <a href="admin/" style="text-decoration: none; color: whitesmoke;">
                        <h3><i class="bi bi-person-gear"></i></h3>
                        <small class="text-body-secondary" style="font-size: small;">Admin Page</small>
                    </a>                    
                </div>
            </div>
            {% endif %}

        </div>
    </div>

</div>


<!-- USER OFF CANVAS -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="user" aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Select an option.</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body justify-content-between align-items-center">
        <div class="row">

            <div class="col-3">
                <div class="card text-center mb-3 menuCard menuCardLogout">
                    <a href="{% url 'User_Logout' %}" style="text-decoration: none; color: whitesmoke;">
                        <h3><i class="bi bi-x-circle"></i></h3>
                        <small class="text-body-secondary" style="font-size: small;">Logout</small>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>


<br><br><br>